.header{
    text-align: center;
    color: #0099ff;
}

.app-container{
    position: relative;
    z-index: 10;
    padding: 20px;
}

.min-h-screen{
    min-height: 100vh;
}

.w-full{
    width: 100%;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.inset-0{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.z-0{
    z-index: 0;
}

.app-description{
    text-align:center;
    color: #666666;
}

.emoji-container{
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #666666;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.emoji-container:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.emoji-picker{
    width:fit-content;
    border : 1px solid #909090ff;
    padding : 10px 5px;
    border-radius : 10px;
    background-color: #e6e6e6;
    position:absolute;
    top : 100px;
    display : flex;
    flex-direction : column;
    height : 200px;
    flex-wrap : wrap;
}

.color-picker{
    width:fit-content;
    border : 1px solid #909090ff;
    padding : 10px 5px;
    border-radius : 10px;
    background-color: #e6e6e6;
    position:absolute;
    top : 100px;
    right : 0;
    display : flex;
    flex-direction : column;
    height : 200px;
    flex-wrap : wrap;
}

.slider-container{
    display :flex;
    justify-content : center;
    margin-top : 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.angle-container{
    display :flex;
    justify-content : center;

}

.rotate-image{
    width:50px;
    height:50px;
    cursor:pointer;
}