.emoji-option{
    font-size: 24px;
    background-color: #a6a6a6ff;
    padding : 5px 10px;
    margin:5px;
    border-radius : 5px;
    cursor :pointer ;

}

.emoji-option:hover{
    background-color: #f0f0f0;
    border : 1px solid blue;
    
}